<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
    
  <servlet>
    <servlet-name>institutionTypeManager</servlet-name>
    <servlet-class>com.myproject.institutions.server.InstitutionTypeManager</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>institutionTypeManager</servlet-name>
    <url-pattern>/assign2/FITypeManager</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>institutionManager</servlet-name>
    <servlet-class>com.myproject.institutions.server.InstitutionManager</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>institutionManager</servlet-name>
    <url-pattern>/assign2/FIManager</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>XMLManager</servlet-name>
    <servlet-class>com.myproject.institutions.server.XMLImportExportImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>XMLManager</servlet-name>
    <url-pattern>/assign2/XML</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Assign2.html</welcome-file>
  </welcome-file-list>

</web-app>
